<p id="notice"><%= notice %></p>

<% provide(@user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for(@user) %>
      </h1>
      <h2>
        <%= @user.name %>
        <%#= @user.email %>
      </h2>
        <% if @user.admin == true %>
        	<p>Admin</p>
        <% else %>
        	<p>User</p>
        <% end %>
      <p><%= "#{@user.name} has posted #{@user.resources.count} resources" %></p>
    </section>
  </aside>
</div>


<%= link_to 'Resources', resources_path %>