<p id="notice"><%= notice %></p>

<% provide(@user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for(@user) %>
      </h1>
      <h2>
        <%= @user.name %>
      </h2>
      <p>Email: <%= @user.email %></p>
        <% if @user.admin == true %>
        	<p>Admin</p>
        <% else %>
        	<p>User</p>
        <% end %>
      
      <h3>Your Activity:</h3>
      <strong><%= "#{@user.resources.count} Resource(s):" %></strong>
      <div class="comment">
        <% @user.resources.each do |resource| %>
          <p>- <%= link_to "#{resource.title}", resource_path(resource.id) %></p>
        <% end %>
      </div>

      <strong><%= "#{@user.comments.count} Comment(s):" %></strong>
      <div class ="comment">
        <% @user.comments.each do |comment| %>
          <p>- <%= link_to "Resource #{comment.resource_id}", resource_path(comment.resource_id) %><%= ": #{comment.body}" %></p>
        <% end %>
      </div>

      <strong><%= "#{@user.ratings.count} Rating(s):" %></strong>
        <div class="comment">
          <% @user.ratings.each do |rating| %>
            <p>- <%= link_to "Resource #{rating.resource_id}", resource_path(rating.resource_id) %><%= " has Rating #{rating.value}" %>  |  <%= link_to "Delete", rating_path(rating), :method => :delete, :class => 'action' %></p>
          <% end %>
      </div>

    </section>
  </aside>
</div>


<strong><%= link_to 'View all Resources', resources_path %></strong>