<p id="notice"><%= notice %></p>

<% provide(@user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for(@user) %>
      </h1>
      <h2>
        <%= @user.name %>
      </h2>
        <% if @user.admin == true %>
        	<p>Admin</p>
        <% else %>
        	<p>User</p>
        <% end %>
      
      <h3>Activity:</h3>
      <strong><%= "#{@user.resources.count} Resource(s):" %></strong>
      <div class="user_activity_box">
        <% @user.resources.each do |resource| %>
          <p><h4><%= link_to "#{resource.title}", resource_path(resource.id) %></h4></p>
          <% if correct_user?(resource) %>
            <p> <%= link_to "Delete", resource_path(resource), :method => :delete, :class => 'action' %>  |  <%= link_to "Edit", edit_resource_path(resource) %></p>
          <% end %>
        <% end %>

      </div>

      <strong><%= "#{@user.comments.count} Comment(s):" %></strong>
      <div class ="user_activity_box">
        <% @user.comments.each do |comment| %>
          <p>- <%= link_to "Resource #{comment.resource_id}", resource_path(comment.resource_id) %><%= ": #{comment.body}" %></p>
        <p><%= link_to "Edit", edit_resource_comment_path(comment.resource, comment) %>  |  <%= link_to "Delete", resource_comment_path(comment.resource, comment), :method => :delete, :class => 'action' %></p>
        <% end %>
      </div>

      <strong><%= "#{@user.ratings.count} Rating(s):" %></strong>
        <div class="user_activity_box">
          <% @user.ratings.each do |rating| %>
            <p>- <%= link_to "Resource #{rating.resource_id}", resource_path(rating.resource_id) %><%= " has Rating #{rating.value}" %>  |  <%= link_to "Delete", rating_path(rating), :method => :delete, :class => 'action' %></p>
          <% end %>
      </div>

    </section>
  </aside>
</div>