<%= form_for(@resource) do |f| %>
  
<%= render 'layouts/error_messages' %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_area :summary %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>

  <div class="field">
    <%= f.label :tags %><br>
    <ul class="tags">
    <li><% @tags.each do |tag| %>
      <%= check_box_tag 'resource[tag_names][]', tag.name, (@resource.tags.any? { |t| t.name == tag.name}) %>
      <%= label_tag tag.name %>
    <% end %>
    </li>
    </ul>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
