<%= form_for(@resource) do |f| %>
  
<%= render 'layouts/error_messages' %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_area :summary %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>

  <ul>
    <li>
      <% @tags.each do |tag| %>
      <div class="myCheckbox">
        <%= check_box_tag 'resource[tag_names][]', tag.name, (@resource.tags.any? { |t|
            t.name == tag.name}), :class => "checkbox" %>
      <div class="tag-label"><%= tag.name %></div> 
      </div>
      

      <!-- doesnt take input yet -->
      <%#= button_tag tag.name, :class => "label label-info tag", :type => "submit" %>
      <% end %>

    </li>
  </ul>
    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
