<h1>Resources</h1>
  
  <tbody>
    <% @resources.each do |resource| %>
      <div id="resource-box">
        <div id="content">
          <h2><%= resource.title %><h2>
          <p><a href="<%= resource.link %>" target="_blank"><%= resource.link %></a></p>
          <p><%= resource.summary %></p>
          <p>Rating goes here</p>
        </div>
        <div id="rate-button">
        <p>rate</p>
        </div>
        <br style="clear:both;"/>
      </div>
      <br>
    <% end %>
  </tbody>

<br>

<%= link_to 'New Resource', new_resource_path %>
