<h1>Welcome to the RailsApps Learners Directory</h1>
<h4>Here you find resources to learn Ruby on Rails.</h4>
  <br>
  <tbody>
    <% @resources.each do |resource| %>
      <div id="resource-box">
        <div id="content">
          <h2><%= resource.title %><h2>
          <p><a href="<%= resource.link %>" target="_blank"><%= resource.link %></a></p>
          <p><%= resource.summary %></p>
          <p>Posted at <%= resource.created_at %></p>
          <p>Rating goes here</p>
        </div>
        <div >
        <a href="#" class="btn btn-info btn-mini">Rate Resource <i class="icon-star"></i></a>
        </div>
        <br style="clear:both;"/>
      </div>
      <br>
    <% end %>
  </tbody>

<br>

<%= link_to 'New Resource', new_resource_path %>

