<h2>Welcome</h2>
<h4>Below you will find resources to learn Rails:</h4>
  <br>
  <tbody>
    <% @sorted_desc_resources.each do |resource| %>
      <div class="resource-box">
        <div class="text-section">
          <h4><%= link_to "#{resource.title}", resource_path(resource.id) %></h4>
          <p><a href="<%= resource.link %>" target="_blank"><%= resource.link %></a></p>
          <p>Summary: <%= resource.summary %></p>

          <p>Average Rating:
              <% if resource.average_rating == 0 %>
                <%= "This resource has not been rated yet" %>
              <% else %>
                <strong><%= resource.average_rating %></strong>
              <% end %></p>
          <p>Your Rating: <strong><%= current_user_rating(resource.id) %></strong></p>

          <% if resource.comments.count == 1 %>
            <p>This resource has <%= link_to "#{resource.comments.count} comment", resource_path(resource.id) %></p>
          <% else %>
            <p><%= link_to "#{resource.comments.count} Comments", resource_path(resource.id) %></p>
          <% end %>

          <p>Click on tags to filter: <% resource.tags.each do |tag| %>
            <%= link_to tag.name, resources_path(:tag => tag.name) %>&nbsp;|
          <% end %></p>

          <p>Posted by: <%= link_to "#{resource.user.name}", user_path(resource.user) %> on <%= resource.created_at.strftime("%B %d, %Y") %></p>

          <% if correct_user?(resource) %>
            <strong>Manage:</strong>
            <p><%= link_to "Delete resource", resource_path(resource), :method => :delete, :class => 'action' %>, <%= link_to "Edit resource", edit_resource_path(resource) %></p>
          <% end %>
        </div>

        <div class="rating-section">
          <div >
             <button type="button" class="btn btn-info btn-mini rating-button">Rate Resource <i class="icon-star"></i></button>
          </div>
        <% if current_user %>
          <div class="rating-box">
            <br>
            <p>Your rating: <%= current_user_rating(resource.id) %></p>

            <%= form_for (rating_ballot(resource.id)) do |f| %>

              <%= f.radio_button(:value, 1) %>
              <%= f.label(:value_rating, "1") %>
              <%= f.radio_button(:value, 2) %>
              <%= f.label(:value_rating, "2") %>
              <%= f.radio_button(:value, 3) %>
              <%= f.label(:value_rating, "3") %>
              <%= f.radio_button(:value, 4) %>
              <%= f.label(:value_rating, "4") %>
              <%= f.radio_button(:value, 5) %>
              <%= f.label(:value_rating, "5") %>

              <%= f.hidden_field(:resource_id) %>
              <%= f.hidden_field(:user_id) %>
              <%= f.submit %>

            <% end %>
          </div>

        <% else %>
          <br>
          <p>You must <%= link_to 'sign-in', 'auth/github' %> to rate a Resource</p>
        <% end %>
        </div>
          <br style="clear:both;"/>
    </div>
    <br>
    <% end %>
  </tbody>

<br>

<%= link_to 'Post a Resource', new_resource_path %>
