<h1>Welcome to the RailsApps Learners Directory</h1>
<h4>Here you find resources to learn Ruby on Rails.</h4>
  <br>
  <tbody>
    <% @resources.each do |resource| %>
      <div id="resource-box">
        <div id="content">
          <h2><%= resource.title %><h2>
          <p><a href="<%= resource.link %>" target="_blank"><%= resource.link %></a></p>
          <p><%= resource.summary %></p>
          <p>Posted at <%= resource.created_at %></p>
          <p><%= resource.average_rating %></p>
          <p><%= current_user_rating(resource.id) %></p>
        </div>
        <div >
        <a href="#" class="btn btn-info btn-mini">Rate Resource <i class="icon-star"></i></a>
        </div>
          <%= form_for (rating_ballot(resource.id)) do |f| %>
            
          <%= f.radio_button(:value, 1) %>
          <%= f.label(:value_rating, "1") %>
          <%= f.radio_button(:value, 2) %>
          <%= f.label(:value_rating, "2") %>
          <%= f.radio_button(:value, 3) %>
          <%= f.label(:value_rating, "3") %>
          <%= f.radio_button(:value, 4) %>
          <%= f.label(:value_rating, "4") %>
          <%= f.radio_button(:value, 5) %>
          <%= f.label(:value_rating, "5") %>

          <%= f.hidden_field(:resource_id) %>
          <%= f.hidden_field(:user_id) %>
          <%= f.submit %>

          <% end %>

        <br style="clear:both;"/>
      </div>
      <br>
    <% end %>
  </tbody>

<br>

<%= link_to 'New Resource', new_resource_path %>

