<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @resource.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @resource.summary %>
</p>

<p>
  <strong>Link:</strong>
  <%= @resource.link %>
</p>

<p>
  <strong>Tags:</strong>
  <% @resource.tags.each do |tag| %>
    <%= link_to tag.name, resources_path(:tag => tag.name) %>&nbsp;|
    <% end %>
</p>

<br>
  <% if correct_user?(@resource) %>
   <p><%= link_to "Edit resource", edit_resource_path(@resource) %></p>
    <p><%= link_to "Delete resource", resource_path(@resource), :method => :delete, :class => 'action' %></p>
       
  <% end %>
  <br>


 <%#= render :partial => @resource.comments %>


<h3>Comments</h3>
   <% for comment in @resource.comments %>
    <div class="comment">
      <h5> <%= comment.body %> </h5>
      <p>
        <%= "Comment posted by: " %> 
        <%= link_to "#{comment.user.name}", user_path(comment.user)  %>
      </p>
      <time><%= comment.created_at %></time>
      <br>
      <% if correct_user?(comment) %>
        <p><%= link_to "Edit comment", edit_resource_comment_path(@resource, comment) %></p>
        <p><%= link_to "Delete comment", resource_comment_path(@resource, comment), :method => :delete, :class => 'action' %></p>
      <% end %>
   </div>
<% end %>
<br>

<h3>Post a Comment</h3>

<%= render 'comments/form' %>

<%= link_to 'Edit', edit_resource_path(@resource) %> 
<%= link_to 'View all resources', resources_path %>
