<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @resource.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @resource.summary %>
</p>

<p>
  <strong>Link:</strong>
  <%= @resource.link %>
</p>

<p>
<%= @resource.comments %>
</p>

<h2>Comments</h2>

<%= form_for([@resource, @resource.comments.build]) do |f| %>
 
  <div class="field">
    <% f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <p><%= f.submit %></p>
<% end %>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'View all resources', resources_path %>
