<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <nav class="container">
      <div>
        <%= link_to "RailsApps Learners Directory", root_path, {:class => "logo"} %>
      </div>
        <ul class="nav pull-right">
          <li><%= link_to "About", page_path('about') %></li>
          <li>
          <div>
          <%= link_to "Post a Resource", new_resource_path, {:class => "post-resource"} %>
          </div>
          </li>
          <% if current_user %>
              <li><%= link_to "Welcome #{current_user.name}!", user_path(current_user) %></li>
              <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
                  <% if current_user.admin? %>
                      <li><%= link_to "Manage Users", users_path %></li>
                  <% end %>
          <% else %>
              
              <li><a class="login-github" href="/auth/github" title="Sign in with Github">
                Sign in with Github
              </a></li>
          <% end %>
        </ul>
      </nav>
    </nav>
  </div>
</header>